.lounge {
    width: 100vw;
    height: 100vh;
    font-family: "Helvetica Neue";
  }

  .chatroom-header {
      height: 7vh;
      width: 100%;
      border-bottom: 2px solid black;
      margin-left: 2%;
      margin-right: 2%;
      position: relative;
  }

  .title {
      font-size: 30px;
      color: white;
      bottom: 1px;
  }

  .profile-chatroom {
      position: fixed;
      top: 0px;
      left: 0px;
      height: 6.5%;
      width: 150px;
      border-radius: 15px;
      background-color: purple;
      color: white;
  }

  .leave-chatroom {
      position: fixed;
      top: 0px;
      right: 0px;
      height: 6.5%;
      width: 150px;
      border-radius: 15px;
      background-color: purple;
      color: white;
    }

  .loungeContainer {
      position: relative;
      height: 80%;
      width:100vw;
      left: 0px;
  }
