.lounge {
    width: 100vw;
    height: 100vh;
    font-family: "Helvetica Neue";
  }

  .chatroom-header {
      height: 7vh;
      width: 100%;
      border-bottom: 2px solid black;
      position: relative;
  }

  .title {
      font-size: 20px;
      color: white;
      bottom: 1px;
  }


  .loungeContainer {
      position: relative;
      height: 78vh;
      width:100vw;
      left: 0px;
      display: flex;
      flex-direction: row;
  }
