.queue {
    border-right-color: rgba(1, 1, 1, 1);
    border-bottom-color: rgba(1, 1, 1, 1);
    border-left-color: rgba(1, 1, 1, 1);
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    width: 25vw;
    height: 78vh;
}

.QueueDeckTitle {
    font-size: 18px;
    display: flex;
    text-align: center;
    background-color: black;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    height: 7vh;
}

.queueTable {
    position: relative;
    width: 25vw;
    height: 50%;
    color: white;
    font-size: 15px;
    margin-top: 2%;
}
