.queue {
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: black;
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    width: 25vw;
    height: 78vh;
}

.QueueDeckTitle {
    font-size: 20px;
    text-align: center;
    width: 100%;
    color: rgba(104, 82, 156, 1);
}
