.queue {
    border-right-color: rgba(1, 1, 1, 1);
    border-bottom-color: rgba(1, 1, 1, 1);
    border-left-color: rgba(1, 1, 1, 1);
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    width: 25vw;
    height: 78vh;
    overflow-y: scroll;
}

.QueueDeckTitle {
    font-size: 30px;
    text-align: center;
    width: 100%;
    color: #83599c;
    height: 7vh;
}

.queueTable {
    position: relative;
    width: 25vw;
    height: 50%;
    color: white;
    font-size: 15px;
    margin-top: 2%;
}

.song {
    height: 75px;
    background-color: gray;
    border-bottom: 1px solid black;
}
