.makeChatDet {
    height: 25%;
}

.makeChatLabel {
    width: 100%;
    margin-top:3%;
    color: white;
    font-size: 18px;
}

.makeChatInfo {
    width: 100%;
    font-size: 25px;
}

.makeChatInput {
    color: black;
    resize: none;
    height: 100%;
}

.restriction {
    padding-right: 3%;
    text-align: right;
    width:100%;
    color: red;
    font-size:50%;
}
