.modHeader {
    height: 12vh;
}

.close {
    color: white !important;
    opacity: .1;
}

.modal-header {
    background-color: black;
    border-bottom: 0 none !important;
}

.modal-body {
    background-color: rgba(49, 47, 54, 1);
}

.modal-footer {
    background-color: black;
    border-top: 0 none !important;
}

.modTitle {
    width: 100%;
    color: rgba(104, 82, 156, 1);
}

.loungeMaster {
    position: absolute;
    display: flex;
    top:7vh;
    left:1.25vw;
    color: white;
}

.modBody {
    height: 60vh;
}

.createBtnClose {
    background: rgba(49, 47, 54, 1) !important;
}

.createBtn {
    background: rgba(104, 82, 156, 1) !important;
}
