.modHeader {
    height: 12vh;
    color: "white";
    background-color: "black" !important;
}

.modTitle {
    width: 100%;
    color: rgba(104, 82, 156, 1);
}

.loungeMaster {
    position: absolute;
    display: flex;
    top:7vh;
    left:1.25vw;
}

.modBody {
    height: 60vh;
}

.createBtnClose {
    background: rgba(49, 47, 54, 1) !important;
}

.createBtn {
    background: rgba(104, 82, 156, 1) !important;
}
