.modHeader {
    height: 12vh;
}

.modTitle {
    width: 100%;
    color: purple;
}

.loungeMaster {
    position: absolute;
    display: flex;
    top:7vh;
    left:1.25vw;
}

.modBody {
    height: 50vh;
}

.createBtn {
    background: purple;
}

