.makeChatDet {
    display: flex;
    height: 25%;
}

.makeChatLabel {
    margin-top: 7%;
    margin-left: 10%;
    width: 50%;
    color: rgba(104, 82, 156, 1);
    font-size: 25px;
}

.makeChatInfo { 
    width: 60%;
    margin-top: 7%;
    font-size: 25px;
}

.makeChatInput {
    color: rgba(104, 82, 156, 1);
    resize: none;
    height: 100%;
}