.Wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgba(33, 32, 36, 1);
  }

  button {
    outline-color: rgba(104, 82, 156, 1) !important;
  }

.NotPremiumAlert {
  margin-bottom: 0px !important;
  background-color: rgba(196, 30, 58, 1) !important;
  color: white !important;
  border: 0px !important;

}

.loggingInAlert {
  margin-bottom: 0px !important;
  background-color: rgba(131, 89, 156, 1) !important;
  color: white !important;
  border: 0px !important;
  display: flex;
  align-items: center;
}

.loggingInText {
  padding-left: 10px;
}

.SpotifyLink {
  color: white !important;
}

::-webkit-scrollbar {
    width: 0px;
}

.CadenceNavBarInit{
  background-color: rgba(0,0,0,0);
}

.CadenceNavBar{
  background-color: rgba(0,0,0,1);
}

.CadenceNavBar button{
  background-color: rgba(1, 1, 1, 1);
  border-color: white;
}

.CadenceNavBar button:hover{
  border-color: white;
  transition: all .2s ease-in-out;
  background-color: rgba(104, 82, 156, 1);
  transform: scale(1.1);
}

.NavBarWrapper{
  height: 7vh;
  width: 100vw;
}

.Content{
  height: 93vh;
  width: 100vw;
}
