.Wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgba(49, 47, 54, 1);
  }

.NotPremiumAlert {
  margin-bottom: 0px;
  background-color: rgba(196, 30, 58, 1) !important;
  color: white;
  border: 0px;

}

.SpotifyLink {
  color: white !important;
}

::-webkit-scrollbar {
    width: 0px;
}

.CadenceNavBarInit{
  background-color: rgba(0,0,0,0);
}

.CadenceNavBar{
  background-color: rgba(0,0,0,1);
}

.CadenceNavBar button{
  background-color: rgba(1, 1, 1, 1);
  border-color: white;
}

.CadenceNavBar button:hover{
  border-color: white;
  transition: all .2s ease-in-out;
  background-color: rgba(104, 82, 156, 1);
  transform: scale(1.1);
}
.NavBarWrapper{
  height: 7vh;
  width: 100vw;
}

.Content{
  height: 93vh;
  width: 100vw;
}
