.detail {
    width: 100%;
    font-size: 18px;
}

.label-user {
    width:100%;
    margin-top:1vh;
    color: rgba(104, 82, 156, 1);
}

.label {
    width:100%;
    color: rgba(255, 255, 255, 1);
    background-color: black;
    font-size: 18px !important;
    padding: 16px;
}

.info-user {
    width:100%;
    color: white;
    font-size: 22px;
    height: 8vh;
    margin-left: 5px;
}

.profInfo {
    width:100%;
    margin: 10px;
    color: white;
    font-size: 15px;
    height: 15vh;
}

.input {
    color: white;
    resize: none;
    background-color: #212529;
}

.restriction-profile {
    padding-right: 10%;
    text-align: right;
    width: 100%;
    color: red;
    font-size: 80%;
}