.modHeaderProf {
    height: 7vh;
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
}

.modTitleProf {
    color: white;
    font-size: 18px !important;
}

.profImg {
    text-align: center;
}

.modal-content {
  background-color: rgba(0,0,0,0) !important;
}

.modBodyProf {
    height: 80vh;
}

.createBtnCloseProf {
    background: rgba(49, 47, 54, 1) !important;
}

.createBtnProf {
    background: rgba(104, 82, 156, 1) !important;
}
