.modHeaderProf {
    height: 12vh;
}

.modTitleProf {
    font-size: 60px;
    color: rgba(104, 82, 156, 1);
    margin-left: 5vw;
    margin-top: 2vh;
}

.modBodyProf {
    height: 50vh;
}

.createBtnCloseProf {
    background: rgba(49, 47, 54, 1) !important;
}

.createBtnProf {
    background: rgba(104, 82, 156, 1) !important;
}
