.modHeaderProf {
    height: 7vh;
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
}

.modTitleProf {
    color: white;
    font-size: 18px !important;
}

.profDisplay {
    display: flex;
    flex-direction: row;
}

.leftProf {
    width: 35%;
    margin: 15px;
}

.rightProf {
    width: 65%;
    display: flex;
    flex-direction: column;
}
.modal-content {
  background-color: rgba(0,0,0,0) !important;
}

.modBodyProf {
    height: 70vh;
    padding: 0px !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    overflow-y: scroll;
}

.createBtnCloseProf {
    background: rgba(49, 47, 54, 1) !important;
}

.createBtnProf {
    background: rgba(104, 82, 156, 1) !important;
}

.spotifyBtn {
    background-color: rgba(30, 215, 96, 1) !important;
    display: flex !important;
    flex-direction: row;
}

.appleMusicBtn {
    background-color: rgba(0, 0, 0, 1) !important;
    display: flex !important;
    flex-direction: row;
}

.musicIcon {
    margin-right: 20px;
}

.socialBtn {
    margin: 5px;
}

.profUsername {
    margin-top: 10px;
}