.player {
    position: absolute;
    bottom: 0px;
    width: 100vw;
    height: 14vh;
    background-color: rgba(1, 1, 1, 1);
    color: white;
    display: flex;
    flex-direction: row;
}


.playerLeft {
    display: flex;
    flex-grow: 1;
    width: 25vw;
    align-items: center;
    justify-content: center;

}

.playerMiddle {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 50vw;

}

.playerRight {
    display: flex;
    flex-grow: 1;
    width: 25vw;
    justify-content: center;
    align-items: center;
}

.playerRight button:hover{
  transition: all .2s ease-in-out;
  color: rgba(104, 82, 156, 1);
  transform: scale(1.1);
}

.controls {
    top: 2px;
    flex-grow: 0.8;
    display: flex;
    justify-content: center;
}


.controls button:hover{
  transition: all .2s ease-in-out;
  color: rgba(104, 82, 156, 1);
  transform: scale(1.1);
}
.controls-disabled{
    top: 2px;
    flex-grow: 0.8;
    display: flex;
    justify-content: center;

}
.controls-disabled button {
  outline: none !important;
}

.controls-disabled button:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.1);

}

.previous {
    color: white;
    background-color: rgba(1, 1, 1, 0);
    border-color: rgba(1,1,1, 1);
    border: none;
    height: 40px;
    width: 40px;
    outline: none;
}

.disabled-prev {
    color: rgba(77, 72, 82, 0.7);
    background-color: rgba(1, 1, 1, 0);
    border-color: rgba(1,1,1, 1);
    border: none;
    height: 40px;
    width: 40px;
    outline: none;
}

.play-pause {
    color: white;
    background-color: rgba(1, 1, 1, 0);
    border-color: rgba(1,1,1, 0);
    border: none;
    height: 40px;
    width: 40px;
    outline: none;
    padding-left: 0px;
    padding-right: 0px;
}

.disabled-pp {
    color: rgba(77, 72, 82, 0.7);
    background-color: rgba(1, 1, 1, 0);
    border-color: rgba(1,1,1, 1);
    border: none;
    height: 40px;
    width: 40px;
    outline: none;
    padding-left: 0px;
    padding-right: 0px;
}
.next {
    background-color: rgba(104, 82, 156, 1);
    color: white;
    background-color: rgba(1, 1, 1, 0);
    border-color: rgba(1,1,1, 0);
    border: none;
    height: 40px;
    width: 40px;
    outline: none;
}

.disabled-n {
    color: rgba(77, 72, 82, 0.7);
    background-color: rgba(1, 1, 1, 0);
    border-color: rgba(1,1,1, 1);
    border: none;
    height: 40px;
    width: 40px;
    outline: none;
}

.next:active {
    outline: none;
    border: none;
}

.albumInfo {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.albumName {
    color: white;
}

.trackInfo {
    flex-shrink: 2;
    text-align: center;
}

.trackName {
    position:relative;
}

.artistName {
    color: rgba(104, 82, 156, 1);
}

.add-song {
    color: white;
    background-color: rgba(1, 1, 1, 0);
    border-color: rgba(1,1,1, 1);
    border: none;
    height: 40px;
    width: 40px;
    outline: none;
}

.queue-list {
    color: white;
    background-color: rgba(1, 1, 1, 0);
    border-color: rgba(1,1,1, 1);
    border: none;
    height: 40px;
    width: 40px;
    outline: none;
}

.volume {
    color: white;
    background-color: rgba(1, 1, 1, 0);
    border-color: rgba(1,1,1, 1);
    border: none;
    height: 40px;
    width: 40px;
    outline: none;
}

.leave-room {
    color: white;
    background-color: rgba(1, 1, 1, 0);
    border-color: rgba(1,1,1, 1);
    border: none;
    height: 50px;
    width: 50px;
    outline: none;
}

.leave-room:hover{
  transition: all .2s ease-in-out;
  color: rgba(196, 30, 58, 1) !important;
  transform: scale(1.1);
}
