.chatBubble {
    border-radius: 15px;
    border: none;
    margin-left: 0%;
    background-color: white;
    max-width: 45vw;
    margin: 10px;
    padding: 10px;

  }

.chatName {
  font-size: 16px;
  color: rgba(104, 82, 156, 1);
  font-weight: bold;
}

.chatMessage {
  font-size: 15px;
  color: black;
}
