.chatDisplay {
    border-bottom-color: black;
    border-right-color: black;
    border-right-style: solid;
    border-bottom-style: solid;
    width: 50vw;
    height: 78vh;
    display: flex;
    flex-direction: column;
}

.chatarea {
    overflow: scroll;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 90%;
    width: 100%;
    overflow-y: scroll;
}

.message {
    background-color: rgba(104, 82, 156, 1);
    border-radius: 15px;
    width: 100%;
    color: white;
}

.title {
    font-size: 40px;
    text-align: center;
    width: 100%;
    color: rgba(104, 82, 156, 1);
}
