.chatDisplay {
    border-bottom-color: rgba(1, 1, 1, 1);
    border-right-color: rgba(1, 1, 1, 1);
    border-right-width: 2px;
    border-right-style: solid;
    border-bottom-style: solid;
    width: 50vw;
    height: 78vh;
    display: flex;
    flex-direction: column;
}

.loungeHeader {
  display: flex;
  flex-direction: row;
}
.chatarea {
    overflow: scroll;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 90%;
    width: 100%;
    overflow-y: scroll;
}

.loungeInfo-btn {
  color: white;
  background-color: rgba(1, 1, 1, 0);
  border-color: rgba(1,1,1, 0);
  border: none;
  height: 20px;
  width: 20px;
  outline: none;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loungeInfo-btn:hover {
  transition: 0.2s;
  transform: scale(1.2);
  color: rgba(255,255,255,0.8);
}


.loungeHeader-Part {
  margin-top: 5px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.message {
    background-color: rgba(104, 82, 156, 1);
    border-radius: 15px;
    width: 100%;
    color: white;
}

.title {
    font-size: 24px;
    text-align: center;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
