.messenger {
    position:absolute;
    bottom: 0px;
    height: 10%;
    width: 100%;
  }

.textarea {
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 15px;
    font-size: 20px;
    border: none;
    resize: none;
    width: 80%;
}

.sendMessage {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: white;
    width: 20%;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    background-color: purple;
    height: 100%;
}