  .HomePage {
    text-align: left;
    position: relative;
    height: 93vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .loungesDisplay {
    height:85vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logout {
    position: fixed;
    margin-top: 5px;
    height: 50px;
    width: 100px;
    border-radius: 15px;
    background-color: rgba(104, 82, 156, 1);
    color: white;
  }

  .profile {
    position: fixed;
    margin-left: 125px;
    margin-top: 5px;
    height: 50px;
    width: 150px;
    border-radius: 15px;
    background-color: rgba(104, 82, 156, 1);
    color: white;
  }

  .chatroom {
    position: fixed;
    margin-left: 89.5%;
    margin-top: 5px;
    height: 50px;
    width: 150px;
    border-radius: 15px;
    background-color: rgba(104, 82, 156, 1);
    color: white;
  }

  .chat {
    position: fixed;
    margin-left: 50%;
    margin-top: 5px;
    height: 50px;
    width: 150px;
    border-radius: 15px;
    background-color: rgba(104, 82, 156, 1);
    color: white;
  }

  .Chatrooms {
    position: absolute;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    padding-top: 15vh;
    height: 100%;
    width: 80vw;

  }

  .roomCard {
    width: 100% !important;
    height: 50% !important;
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }

  .roomCardHeader {
    background-color: black !important;
    display:flex;
    justify-content: space-between;
  }


  .roomCardBody {
    border-top: 2px rgba(33, 32, 36, 1) solid;
    border-bottom: 2px rgba(33, 32, 36, 1) solid;
    background-color: black;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(54,42,84,1) 50%, rgba(0,0,0,1) 100%);
  }

  .roomCardFooter {
    background-color: black !important;
    text-align: center;
  }

  .homeTitleHeader {
    text-align: center;
    color: white;
    font-size: 24px;
    height: 8vh;
    width: 100vw;
    background-color: black;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(54,42,84,1) 50%, rgba(0,0,0,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .roomFlip:hover {
    cursor: pointer;
    transition: 0.2s;
    transform: scale(1.2);
  }

  .cardText {
    height: 25vh;
  }

  .enterBtn {
    text-align: right;
    background-color: rgba(104, 82, 156, 1) !important;
  }

  .enterBtn:hover{
    border-color: white;
    transition: all .2s ease-in-out;
    background-color: rgba(104, 82, 156, 1);
    transform: scale(1.1);
  }

  .songView{
    height: 75%;
  }

  .infoView{
    height: 25%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: row-reverse;
  }

  .genreBtn {
    background-color: black !important;
    margin: 2px;
  }
  .songContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  .prevSongContainer{
    width: 15%;
    display: flex;
    overflow-x: hidden;
    align-items: center;
  }

  .currSongContainer{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  .currSongArt{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
  }

  .nextSongArt{
    height: 80px;
    display: flex;
    justify-content: center;
    opacity: 0.5;

  }

  .nextSongArt:hover{
    transition: 0.5s;
    opacity: 1;
  }


  .nextSongContainer{
    width: 15%;
    display: flex;
    overflow-x: hidden;
    align-items: center;
  }

  .prevSongArt{
    height: 80px;
    display: flex;
    justify-content: center;
    opacity: 0.5;
    text-indent: -200%;
    overflow-x: hidden;
  }

  .prevSongArt:hover{
    transition: 0.5s;
    opacity: 1;
  }

  .cardSongTitle{
    text-align: center;
    font-weight: bold;
  }
  .cardSongArtist{
    font-size: 14px;
    text-align: center;
  }

  .cardSongInfo{
    overflow-y: scroll;
  }

  .cardImage{
    width: 115px;
    height: 115px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.38);

  }

  .cardImage:hover {
    transition: 0.2s;
    transform: scale(1.2);
  }

  .defCardImage{
    width: 100px;
    height: 100px;
    border-radius: 18px 18px 18px 18px;
  }

  .defCardImage:hover {
    transition: 0.2s;
    transform: scale(1.2);
  }
