  .HomePage {
    text-align: left;
    position: relative;
    height: 93vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .logout {
    position: fixed;
    margin-top: 5px;
    height: 50px;
    width: 100px;
    border-radius: 15px;
    background-color: rgba(104, 82, 156, 1);
    color: white;
  }

  .profile {
    position: fixed;
    margin-left: 125px;
    margin-top: 5px;
    height: 50px;
    width: 150px;
    border-radius: 15px;
    background-color: rgba(104, 82, 156, 1);
    color: white;
  }

  .chatroom {
    position: fixed;
    margin-left: 89.5%;
    margin-top: 5px;
    height: 50px;
    width: 150px;
    border-radius: 15px;
    background-color: rgba(104, 82, 156, 1);
    color: white;
  }

  .chat {
    position: fixed;
    margin-left: 50%;
    margin-top: 5px;
    height: 50px;
    width: 150px;
    border-radius: 15px;
    background-color: rgba(104, 82, 156, 1);
    color: white;
  }

  .Chatrooms {
    position: absolute;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10vw;
    margin-top: 20vh;
    height: 70vh;
    width: 80vw;

  }

  .createdChatRoom {
    width: 25%;
    height: 50%;
    border-radius: 15px !important;
    border-style: solid !important;
    border-color: black !important;
    border-width: 3px !important;
  }

  .homeTitleHeader {
    text-align: center;
    color: white;
    font-size: 24px;
    height: 8vh;
    width: 100vw;
    background-color: black;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(54,42,84,1) 50%, rgba(0,0,0,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .homeTitle {

  }

  .cardText {
    height: 13vh;
  }

  .enterBtn {
    margin-top: -25%;
    margin-left: 25%;
    background-color: rgba(104, 82, 156, 1) !important;
  }
