

  .LandingWindow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    top: 40vh;
    height: 25vh;
  }

  .LandingPage {
    width: 100vw;
    height: 100vh;
    background-image:url('https://media.giphy.com/media/n3xSURtNE62t2/giphy.gif');
    background-repeat:no-repeat;
    background-size:100% 100%;
    position: absolute;
  }

  .new-login {
    color: rgba(104, 82, 156, 1) !important;
    background-color: rgba(1, 1, 1, 1) !important;
    border-color: rgba(1,1,1,1) !important;
    border: none;
  }

  .new-login:hover{
    border-color: white ;
    transition: all .2s ease-in-out;
    transform: scale(1.1);
  }

  .TagLine {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
  }

  .TagLine:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.2);
  }

  .Backdrop {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .WhoAreWe {
    display: flex;
    flex-direction: column;
    width: 75vw;
    position: fixed;
    height: 85vh;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, .25);
    color: white;
    border-radius: 15px;
  }

  .Creator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .CreatorImg {
    width: 15vw;
    height: auto;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vw;
  }

  .Info {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    padding: 1vw;
  }

  .Name {
    font-size: 36px;
    font-weight: bold;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    color: black;
  }

  .Description {
    font-size: 20px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
  }
