.HomePage {
  text-align: left;

}

.Home-Page {
  text-align: left;
}

.login {
  position: fixed;
  margin-top: 5px;
  height: 50px;
  width: 125px;
  border-radius: 15px;
  background-color: purple;
  color: white;
}

.header {
  height: 150px;
  background-color: white;
  background-image: url(../images/header.png);
  background-repeat: no-repeat;
  border-radius: 15px;
}

.logout {
  position: fixed;
  margin-top: 5px;
  height: 50px;
  width: 100px;
  border-radius: 15px;
  background-color: purple;
  color: white;
}

.profile {
  position: fixed;
  margin-left: 125px;
  margin-top: 5px;
  height: 50px;
  width: 150px;
  border-radius: 15px;
  background-color: purple;
  color: white;
}

.chatroom {
  position: fixed;
  margin-left: 89.5%;
  margin-top: 5px;
  height: 50px;
  width: 150px;
  border-radius: 15px;
  background-color: purple;
  color: white;
}

.chat {
  position: fixed;
  margin-left: 50%;
  margin-top: 15%;
  height: 50px;
  width: 150px;
  border-radius: 15px;
  background-color: purple;
  color: white;
}

.Wrapper {
  width: 100vw;
  height: 100vh;
}

.LandingWindow {
  margin: auto;
  width: 15%;
  height: 25vh;
  top: 0px;
}

.LandingPage {
  width: 100vw;
  height: 100vh;
  background-image:url('https://media.giphy.com/media/n3xSURtNE62t2/giphy.gif');
  background-repeat:no-repeat;
  background-size:100% 100%

}

.LandingBtnBox {
  margin-top: 55vh;

}
.CadenceNavBar{
  background-color: rgba(0,0,0,0)
}

.new-login {
  color: rgba(104, 82, 156, 1) !important;
  background-color: rgba(1, 1, 1, 1) !important;
  border-color: rgba(1,1,1,1) !important;
  border: none;
  top:50%;
  left:50%;
}

.new-login:hover{
  border-color: white ;
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

.TagLine {
  position: fixed;
  top: 45vh;
  left: 30vw;
  width: 40%;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.TagLine:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.2);
}
