
.chatroom-header {
    height: 50px; 
    background-color: white;
}

.title {
    position: fixed;
    margin-top: 0%;
    margin-left: 40%;
    font-size: 43px;
    color: purple;
}

.profile-chatroom {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 150px;
    border-radius: 15px;
    background-color: purple;
    color: white;
}

.leave-chatroom {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 50px;
    width: 150px;
    border-radius: 15px;
    background-color: purple;
    color: white;
  }

.container {
    position: absolute;
    border-color: red;
    border-style: solid;
    height: 80%;
    width:100vw;
    top: 50px;
    left: 0px;
}

.chatarea {
    overflow: scroll;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 90%;
    width: 100%;
}

.message {
    background-color: purple;
    border-radius: 15px;
    width: 100%;
    color: white;
}

.queue {
    position: absolute;
    border-right-color: white;
    border-bottom-color: white;
    border-left-color: white;
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    left:0px;
    height: 100%;
    width: 25%;
}

.queueTitle {
    font-size: 35px;
    width: 100%;
    height: 50px;
    text-align: center;
    color: purple;
}

.chatDisplay {
    position: absolute;
    border-bottom-color: white;
    border-right-color: white;
    border-right-style: solid;
    border-bottom-style: solid;
    left: 25%;
    height: 100%;
    width: 50%;
}

.text {
    display: flex;

}

.textarea {
    position: absolute;
    border-radius: 15px;
    margin-left: 0%;
    font-size: 20px;
    left: 0px;
    bottom: 0px;
    border: none;
    resize: none;
    height: 10%;
    width: 80%;
}

.sendMessage {
    position: absolute;
    color: white;
    bottom: 0px;
    right: 0px;
    height: 10%;
    width: 20%;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    background-color: purple;
}

.userList {
    position: absolute;
    border-bottom-color: white;
    border-right-color: white;
    border-right-style: solid;
    border-bottom-style: solid;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 25%;
}

.userListTitle {
    font-size: 35px;
    text-align: center;
    width: 100%;
    height: 50px;
    color: purple;
}

.player {
    position: absolute;
    border-color: purple;
    border-style: bold;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 13%;
}

.row {
    position: absolute;
    text-align: justify;
    top: 0px;
    left: 25%;
    height: 50%;
    width: 50%;
}

.previous {
    position: absolute;
    top: 5%;
    left: 27%;
    background-color: purple;
    color: white;
    border-radius: 15px;
    width: 10%;
    height: 50%;
}

.play-pause {
    position: absolute;
    top: 5%;
    left: 43%;
    background-color: purple;
    color: white;
    border-radius: 15px;
    width: 14%;
    height: 50%;
}

.next {
    position: absolute;
    top: 5%;
    left: 62%;
    background-color: purple;
    color: white;
    border-radius: 15px;
    width: 10%;
    height: 50%;
}

.sliderDiv {
    position: absolute;
    top: 40%;
    left: 25%;
    width: 50%
}