.add-song-modal {
    color: white !important;
    max-height: 100vh;
    position: fixed;
    overflow: hidden;
}

.add-song-modal-body {
    overflow: hidden;
}

.song {
    color: white;
    overflow: hidden;
    height: 75px;
    margin-top: 20px;
}

.albumart {
    width: 15%;
    height: 100%;
    vertical-align: middle;
    float: left;
}

.song-container {
    height: 55vh;
    overflow: scroll;
}

.info {
    margin-left: 16%;
    vertical-align: middle;
}