.add-song-modal {
    color: white !important;
    max-height: 100vh;
    overflow: hidden;
}


.add-song-modal-body {
    overflow: hidden;
    height: 50vh;
}

.add-song-modal-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-title-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10;
  border-radius: 25px;
  padding: 5px;
  
}

.modal-title-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.modal-title-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.modal-title-option:hover {
  background-color: rgba(33, 32, 36, 1) !important;
  cursor: pointer;
}

.song {
    color: white;
    overflow: hidden;
    height: 110px;
    display: flex;
    flex-direction: row;
    padding: 0 10px;
}

.song:hover {
    background-color: rgba(33, 32, 36, 0.5);
}

.playlist {
  color: white;
  overflow: hidden;
  height: 110px;
  display: flex;
  flex-direction: row;
  padding: 0 10px;
}

.playlist:hover {
  background-color: rgba(33, 32, 36, 0.5);
  cursor: pointer;
}


.queueSong {
    color: white;
    overflow: hidden;
    height: 110px;
    display: flex;
    flex-direction: row;
}

.queueSong:hover {
    background-color: rgba(49, 47, 54, 1);
    cursor: pointer;
}

.queueSong:active {
  background-color: rgba(60, 60, 60, 1);
}

.albumart {
    width: 64px !important;
    height: 64px !important;
    float: left;
}

.albumContainer {
    display: flex;
    align-items: center;
}

.infoContainer {
    display: flex;
    align-items: center;
    width: calc(100%)
}

.song-container {
    height: 35vh;
    overflow: scroll;
}

.playlist-container {
  height: 40vh;
  overflow: scroll;
}

.albumName {
  font-style: italic;
  font-size: 14px;
  color: rgba(134, 137, 131,1 );
}

.subtext {
  font-style: italic;
  font-size: 14px;
  color: rgba(134, 137, 131,1 );
}

.info {
  margin-left: 15px;
  padding-left: 10px;
  text-align: left;
  height: 64px !important;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resultControls {
  display: flex;
  flex-direction: row-reverse;
  width: 90px;
  align-items: center;
}

.addResult {
    background-color: rgba(104, 82, 156, 1);
    color: white;
    background-color: rgba(1, 1, 1, 0);
    border-color: rgba(1,1,1, 0);
    border: none;
    height: 30px;
    width: 30px;
    outline: none;
}


.addNextResult {
    background-color: rgba(104, 82, 156, 1);
    color: white;
    background-color: rgba(1, 1, 1, 0);
    border-color: rgba(1,1,1, 0);
    border: none;
    height: 30px;
    width: 30px;
    outline: none;
}

.searchLogo {
  margin-left: 5px;
  margin-right: 5px;
}
.addResult:focus,.addNextResult:focus {
  outline: none;
}

.resultControls button:hover{
  transition: all .2s ease-in-out;
  color: rgba(104, 82, 156, 1);
  transform: scale(1.1);
}

.collab {
  font-style: italic;
  font-size: 14px;
  color: rgba(134, 137, 131,1 );
}

.browsingHeader {
  font-size: 14px;
  color: rgba(134, 137, 131,1 );
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
}

.playlistTitle {
  font-size: 16px;
  font-style: bold;
  color: white; 
}

.loadMoreBtn {
  width: 100% !important;
  background-color: black !important;
}