.queue {
    border-right-color: rgba(1, 1, 1, 1);
    border-bottom-color: rgba(1, 1, 1, 1);
    border-left-color: rgba(1, 1, 1, 1);
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-right-width: 2px;
    width: 25vw;
    height: 78vh;
}

.QueueDeckHeader button:hover{
  transition: all .5s ease-in-out;
  transform: scale(1.2);
  transform: rotate(-360deg)
}

.QueueDeckHeader {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: white;
  height: 7vh;
  background-color: black;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(54,42,84,1) 50%, rgba(0,0,0,1) 100%);
}

.QueueDeckTitle {

}

.QueueDeckHeader-Part {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.QueueList {
  position: relative;
  border-top-color: rgba(1, 1, 1, 1);
  border-top-style: solid;
  width: 100%;
  height: 71vh;
  color: white;
  font-size: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: rgba(33, 32, 36, 1);

}

.history-btn {
  color: white;
  background-color: rgba(1, 1, 1, 0);
  border-color: rgba(1,1,1, 0);
  border: none;
  height: 20px;
  width: 20px;
  outline: none;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.queueTable {
    position: relative;
    width: 25vw;
    height: 50%;
    color: white !important;
    font-size: 15px;
    margin-top: 2%;
    overflow-y: scroll;

}

.queuePlayBtn {
  color: white;
  background-color: rgba(1, 1, 1, 0);
  border-color: rgba(1,1,1, 1);
  border: none;
  outline: none;
}

tr {
  border-bottom: 1px solid black;
}
tr:hover {
  color: white !important;
}
.queuePlayBtn:hover {
  color: rgba(104, 82, 156, 1);
}
