.topheader {
    background-color: white;
    width: 100vw;
    height: 6.5%;
    text-align: center;
}

.makechatroomtitle {
    color: purple;
    font-size: 43px;
}

.leavePage {
    position: fixed;
    height: 6.5%;
    top: 0px;
    right: 0px;
    background-color: purple;
    color: white;
    border-radius: 15px;
}

.formdet {
    position: absolute;
    margin-top: 5%;
    width: 40%;
    height: 70%;
}

.title-header {
    text-align: center;
    width: 100%;
    height: 10%
}

.details-title {
    color: purple;
    font-size: 43px;
}

.makeChatDetails {
    border-color: green;
    border-style: solid;
    position: relative;
    height: 90%;
}

.loungeMaster {
    display: flex;
    width: 100%;
    background-color: purple;
    height: 25%;
}

.loungeMasterDet {
    color: white;
    font-size: 20px;
}

