.player {
    position: absolute;
    border-color: purple;
    border-style: bold;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 13%;
}

.row {
    position: absolute;
    text-align: justify;
    top: 0px;
    left: 25%;
    height: 50%;
    width: 50%;
}

.previous {
    position: absolute;
    top: 5%;
    left: 27%;
    background-color: purple;
    color: white;
    border-radius: 15px;
    width: 10%;
    height: 50%;
}

.play-pause {
    position: absolute;
    top: 5%;
    left: 43%;
    background-color: purple;
    color: white;
    border-radius: 15px;
    width: 14%;
    height: 50%;
}

.next {
    position: absolute;
    top: 5%;
    left: 62%;
    background-color: purple;
    color: white;
    border-radius: 15px;
    width: 10%;
    height: 50%;
}

.albumInfo {
    position: absolute;
    width: 22%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

.albumName {
    color: white;
}

.duration {
    position: absolute;
    top: 35%;
    left: 76%;
    color: white;
}

.position {
    position: absolute;
    top: 35%;
    left: 22%;
    color: white;
}

.trackInfo {
    width: 100%;
    height: 100%;
    text-align: center;
}

.trackName {
    position:relative;
    margin-top: 3.5%;
    color: white;
}

.artistName {
    color: purple;
}